body {
    font-family:'Kreon',serif;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
}

section {
  padding: 250px 0;
}

.orangebg {
    background-color: #e9ecef;
}

#logo {
    height: 10vh;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-search {
      background: #424242;
      border-radius: 0;
      color: #fff;
      border-style: solid;
    }

.btn-search:link, .btn-search:visited {
      color: #fff;
    } 

.btn-search:active, .btn-search:hover {
      background: #666666;
      color: #fff;
    }

.input-group {
    margin-left: 15vh; /* search button */
}

/* menu */
.menu-items {
    text-align:center;
    margin:0 auto;
}
.menu-titles h1 {
    text-shadow:none;
    color:#ed0121;
    text-align:center;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:15px;
}
#food-menu ul {
    margin:0;
    padding:0;
    list-style:none;
}
.menu-images img {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:5px solid #dadada;
    display:block;
    margin:auto;
    margin-top: 40px;
}

/* menu font size */
.nav-item{                  
    font-size: 115%;
}

/* reservation form */
.reservStyle{
    margin-top: 65px;
}

#tableFood{
    margin-left: 300px;
    text-align: center;
}

/* footer */

#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}


#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .time {
    margin-top: 70px;
}

#myFooter .days {
    margin-top: 33px;
}

#myFooter h2 {
    color: #d84b6b;
}

#myFooter h5 {
    margin-top: 30px;
}

#myFooter .contactUs{
    margin-left: 90px;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 350px;
    margin-right: -320px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
